* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "heroTxt";
  src: url(fonts/1Ptgg87LROyAm3Kz-C8.woff2) format("woff2");
}
@font-face {
  font-family: "2hero";
  src: url(fonts/66571474d48f3e8c7c1489a8_MonaSans-Bold.woff2);
}
@font-face {
  font-family: "3hero";
  src: url(fonts/66571474d48f3e8c7c1489a7_MonaSans-Medium.woff2);
}
body, html {
  height: 100%;
  width: 100%;
}

body main {
  width: 100%;
}
body main .page1 {
  width: 100%;
  aspect-ratio: 1/2;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-image: url(images/66571474d48f3e8c7c1489a9_hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
body main .page1 .image-text {
  font-size: 5rem;
  font-family: "heroTxt";
  line-height: 0.95;
  font-weight: 500;
  text-transform: uppercase;
  background: url("images/66571474d48f3e8c7c1489aa_hero-heading-bg.jpg") no-repeat center center;
  background-size: cover;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
body main .page1 .info {
  text-transform: uppercase;
  font-family: "3hero";
  font-size: 1.2rem;
  padding: 1.4rem;
}
body main .page1 .info p {
  margin: 0.5rem;
}
body main .page1 .elemlast {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body main .page1 .elemlast .elem1 {
  display: none;
}
body main .page1 .elemlast .elem2 .mouse {
  padding: 1rem 0;
  width: -moz-fit-content;
  width: fit-content;
}
body main .page1 .elemlast .elem2 .mouse img {
  width: -moz-fit-content;
  width: fit-content;
}
body main .page1 .elemlast .elem2 p {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  font-family: "2hero";
}
body main .page2 {
  background-color: black;
  width: 100%;
  aspect-ratio: 1/2;
  overflow: hidden;
}
body main .page2 .hero2 {
  width: 100%;
  aspect-ratio: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0.5;
}
body main .page2 .hero2 img {
  width: 100%;
  aspect-ratio: 1/2;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .page3 {
  padding: 1rem;
}
body main .page3 .elem1 {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
body main .page3 .elem1 a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "3hero";
}
body main .page3 .elem1 a span {
  border: 1px solid black;
  padding: 0.2rem 0.9rem;
  border-radius: 20px;
  font-size: 1.25rem;
  margin-right: 1rem;
}
body main .page3 .elem2 h1 {
  font-family: "heroTxt";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
body main .page3 .elem2 .hero3 {
  padding: 3rem 0;
}
body main .page3 .elem2 .hero3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .page3 .elem2 .para {
  font-family: "3hero";
  font-size: 1.25rem;
}
body main .page3 .elem2 .para .p1, body main .page3 .elem2 .para .p2 {
  padding: 1rem 0;
  line-height: 1.5;
}
body main .page3 .elem3 {
  padding: 5rem 0;
}
body main .page3 .elem3 h1 {
  font-family: "heroTxt";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
body main .page3 .elem3 .container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
body main .page3 .elem3 .container .item .img img {
  width: 100%;
}
body main .page3 .elem3 .container .item .img h2 {
  margin-top: -2.25rem;
  margin-left: 1rem;
  font-size: 2.5rem;
  font-family: "heroTxt";
  mix-blend-mode: overlay;
  z-index: 9;
}
body main .page3 .elem3 .container .item .img-info {
  font-family: "3hero";
  font-weight: 800;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}
body main .page3 .elem3 .container .item .img-info p:nth-child(2) {
  margin-top: -1rem;
  font-size: 1.2rem;
}
body main .page3 .elem4 {
  text-transform: uppercase;
}
body main .page3 .elem4 h1 {
  font-family: "heroTxt";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
body main .page3 .elem4 hr {
  margin: 2rem 0;
  border-color: black;
}
body main .page3 .elem4 .container hr {
  margin: 1rem 0;
}
body main .page3 .elem4 .container .itemm {
  font-family: "3hero";
  font-size: 0.85rem;
}
body main .page3 .elem4 .container .itemm h2 {
  padding: 0.5rem 0;
}
body main .page3 .elem5 {
  padding: 5rem 0;
  text-transform: uppercase;
}
body main .page3 .elem5 h1 {
  font-family: "heroTxt";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  padding: 2rem 0;
}
body main .page3 .elem5 .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
body main .page3 .elem5 .container .box {
  background-color: black;
  color: white;
  padding: 1rem;
  width: 100%;
  aspect-ratio: 1/0.9;
  display: flex;
  flex-direction: column;
}
body main .page3 .elem5 .container .box h2 {
  font-family: "3hero";
  padding: 1rem;
}
body main .page3 .elem5 .container .box h2:nth-child(2) {
  margin-top: auto;
}
body main .page3 .elem6 h1 {
  font-family: "heroTxt";
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
body main .page3 .elem6 .containn .letterbox {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
body main .page3 .elem6 .containn .letterbox h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-family: "3hero";
  font-weight: 700;
  text-transform: capitalize;
}
body main .page3 .elem6 .containn .letterbox h1 span {
  border: 1px solid black;
  padding: 0.2rem 0.9rem;
  border-radius: 20px;
  font-size: 1.25rem;
  margin-right: 1rem;
}
body main .page3 .elem6 .containn form {
  display: flex;
  flex-direction: column;
  font-family: "3hero";
}
body main .page3 .elem6 .containn form label {
  font-weight: 800;
  font-size: 1.25rem;
  margin-top: 2rem;
}
body main .page3 .elem6 .containn form input {
  padding: 1rem;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.274);
}
body main .page3 .elem6 .containn form input::-moz-placeholder {
  font-family: "3hero";
  font-size: 1.2rem;
}
body main .page3 .elem6 .containn form input::placeholder {
  font-family: "3hero";
  font-size: 1.2rem;
}
body main .page3 .elem6 .containn form textarea::-moz-placeholder {
  font-family: "3hero";
  font-size: 1.2rem;
}
body main .page3 .elem6 .containn form textarea::placeholder {
  font-family: "3hero";
  font-size: 1.2rem;
}
body main .page3 .elem6 .containn form textarea {
  padding: 1rem;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.274);
  border: 1px solid gray;
}
body main .page3 .elem6 .containn form p {
  color: rgb(128, 128, 128);
  padding: 3rem 0;
}
body main .page3 .elem6 .containn form p span {
  font-size: 0.75rem;
  border: 2px solid rgba(128, 128, 128, 0.847);
  padding: 0.025rem 0.4rem;
  border-radius: 50%;
  margin-right: 0.25rem;
}
body main .page3 .elem6 .containn form button {
  width: 70%;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-family: "3hero";
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}
body main footer {
  margin-top: 4rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 6rem;
}
body main footer .contain .elema {
  font-family: "3hero";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
body main footer .contain .elema p {
  text-align: center;
  width: 60%;
  font-size: 1.25rem;
  line-height: 1.2;
}
body main footer .contain h1 {
  padding-top: 3rem;
  text-align: center;
  font-size: 3.5rem;
  font-family: "heroTxt";
  font-weight: 500;
}

@media (min-width: 768px) {
  body main .page1 {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 4rem 1rem;
  }
  body main .page1 .image-text {
    font-size: 9.25rem;
  }
  body main .page1 .image-text br {
    display: none;
  }
  body main .page1 .info {
    display: flex;
    justify-content: space-between;
  }
  body main .page1 .elemlast .elem1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  body main .page1 .elemlast .elem1 h1 {
    display: flex;
    align-items: center;
    font-family: "3hero";
    font-size: 1.4rem;
  }
  body main .page1 .elemlast .elem1 h1 span {
    border: 1px solid black;
    padding: 0.1rem 0.9rem;
    border-radius: 20px;
    font-size: 1rem;
    margin-right: 1rem;
  }
  body main .page1 .elemlast .elem2 {
    width: 60%;
  }
  body main .page2 {
    display: block;
    aspect-ratio: 1/1.2;
  }
  body main .page2 .hero2 {
    aspect-ratio: 1/1.2;
  }
  body main .page2 .hero2 img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  body main .page3 {
    padding: 2rem;
    padding-top: 10rem;
    position: relative;
    display: grid;
    grid-template-areas: "a b" ". b" ". c" ". d" ". e" ". f";
  }
  body main .page3 .elem1 {
    grid-area: a;
    position: sticky;
    top: 0;
  }
  body main .page3 .elem2 {
    grid-area: b;
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  body main .page3 .elem2 h1 {
    font-size: 5.75rem;
  }
  body main .page3 .elem3 {
    grid-area: c;
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  body main .page3 .elem3 h1 {
    font-size: 6rem;
  }
  body main .page3 .elem3 .container .item .img h2 {
    font-size: 4rem;
    margin-top: -3.5rem;
  }
  body main .page3 .elem4 {
    grid-area: d;
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  body main .page3 .elem4 h1 {
    font-size: 6rem;
  }
  body main .page3 .elem4 .container hr {
    margin: 0.75rem 0;
  }
  body main .page3 .elem4 .container .itemm {
    display: flex;
    gap: 5rem;
  }
  body main .page3 .elem5 {
    grid-area: e;
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  body main .page3 .elem5 h1 {
    font-size: 6rem;
  }
  body main .page3 .elem5 .container {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
  }
  body main .page3 .elem5 .container .box {
    width: 45%;
    aspect-ratio: 1/1.2;
  }
  body main .page3 .elem5 .container .box h2 {
    font-size: 1.5rem;
  }
  body main .page3 .elem6 {
    grid-area: f;
    padding: 1rem 0;
    padding-left: 2.5rem;
  }
  body main .page3 .elem6 h1 {
    font-size: 6rem;
  }
  body main footer .contain .elema p {
    width: 30%;
  }
  body main footer .contain h1 {
    font-size: 9rem;
  }
}
@media (min-width: 1020px) {
  body main .page1 {
    width: 100%;
    aspect-ratio: 1/0.5;
    padding: 1rem;
  }
  body main .page1 .image-text {
    font-size: 12.5rem;
  }
  body main .page1 .image-text br {
    display: none;
  }
  body main .page1 .info {
    display: flex;
    justify-content: space-around;
  }
  body main .page1 .elemlast .elem1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  body main .page1 .elemlast .elem1 h1 {
    display: flex;
    align-items: center;
    font-family: "3hero";
  }
  body main .page1 .elemlast .elem1 h1 span {
    border: 1px solid black;
    padding: 0.4rem 0.9rem;
    border-radius: 20px;
    font-size: 1.25rem;
    margin-right: 1rem;
  }
  body main .page1 .elemlast .elem2 {
    width: 60%;
  }
  body main .page1 .elemlast .elem2 p {
    font-size: 3rem;
  }
  body main .page2 {
    aspect-ratio: 1/1;
  }
  body main .page2 .hero2 {
    aspect-ratio: 1/1;
    scale: 0.3;
  }
  body main .page2 .hero2 img {
    aspect-ratio: 1/1;
  }
  body main .page3 .elem2 {
    display: grid;
    grid-template-areas: "a a  a" "c c b" "c c .";
  }
  body main .page3 .elem2 h1 {
    font-size: 7rem;
    grid-area: a;
  }
  body main .page3 .elem2 .hero3 {
    grid-area: b;
  }
  body main .page3 .elem2 .para {
    padding: 7rem 0;
    width: 80%;
    grid-area: c;
  }
  body main .page3 .elem3 .container .item .img h2 {
    font-size: 5rem;
  }
  body main .page3 .elem3 .container .item .img-info {
    font-size: 1.5rem;
  }
  body main .page3 .elem4 h1 {
    padding: 4rem 0;
  }
  body main .page3 .elem4 .container .itemm h2 {
    font-size: 2rem;
  }
  body main .page3 .elem5 {
    padding: 10rem 1rem;
  }
  body main .page3 .elem5 .container {
    gap: 0.2rem;
    display: grid;
    grid-template-areas: "a . c ." ". b . d";
  }
  body main .page3 .elem5 .container .box {
    width: 95%;
    aspect-ratio: 1/1.5;
  }
  body main .page3 .elem5 .container .box h2 {
    font-size: 1.4rem;
  }
  body main .page3 .elem5 .container .box:nth-child(1) {
    grid-area: a;
  }
  body main .page3 .elem5 .container .box:nth-child(2) {
    grid-area: b;
  }
  body main .page3 .elem5 .container .box:nth-child(3) {
    grid-area: c;
  }
  body main .page3 .elem5 .container .box:nth-child(4) {
    grid-area: d;
  }
  body main .page3 .elem6 .containn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 4rem 0;
  }
  body main .page3 .elem6 .containn form {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */